@media only screen and (hover: none){

    body {
        background-color: #313131;

        font-family: 'Roboto';
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    img {
        mix-blend-mode: normal;
        filter: blur(5px);

        display: flex;
        float: right;
        
        height: 100%;

        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    div {
        background-color: white;
        position: absolute;

        height: 100%;
        width: 40%;
        top: 0px;
        right: 60%;

        box-shadow: 0px -4px 37px rgba(0, 0, 0, 0.5);
        border-radius: 25px;  
        
        text-align: center;
    }
    h1 {
        font-size: xx-large;
    }
    p {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        text-align: left;
        opacity: 0.7;

        font-size: medium;

    }

}