body {

    background-color: #313131;

    font-family: 'Roboto';
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 0.25);

}

img {
        
    position: absolute;
    display: block;

    height: auto;

    mix-blend-mode: normal;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

div {

    background-color: white;
    position: absolute;
    height: 100%;

    box-shadow: 0vw -4vw 37vw rgba(0, 0, 0, 0.5);
    border-radius: 2.5vw;  
        
    text-align: center;
}

p, label{

    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
    opacity: 0.7;

}

a {
    text-decoration-line: underline;
    color: black;
}

button {

     margin: 2%;
    padding: 2%;
    padding-left: 20%;
    padding-right: 20%;

    font-family: 'Roboto';
    color: white;
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 0.25);

    background: #313131;
    box-shadow: 0vw 1.5vw 2vw rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 2vw;

    cursor: pointer;

}

input {
        
    padding: 2%;
    width: 60%;
        
    box-sizing: border-box;
    border: 1px solid #A8A8A8;
    border-radius: 11px;
    outline: none;

    font-family: 'Roboto';
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 0.25);

}


    /* Mobile view */
@media only screen and (hover: none){ 

    body {
        font-size: 2vh;
    }

    img {
        width: 100%;
        left: 0%;
        top: -5%;
    }

    div {
        width: 100%;
        top: 50%;
        right: 0%;
    }

    h1 {
        font-size: 4vh;
    }

    button {
        font-size: 2vh;
    }

}

    /* Desktop view */
@media only screen and (hover: hover){  

    body {
        font-size: 2.5vh;
        overflow: hidden;
    }

    img {
        width: 68%;
        left: 32%;
        top: -40%;
    }

    div {
        width: 40%;
        top: 0vw;
        right: 62%;
    }

    h1 {
        margin-top: 25%;
        font-size: 5vh;
    }

    p {
        margin-top: 5%;
    }

    button {
        font-size: 2.5vh;
    }

}